* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}
h1 {
    color: whitesmoke;
    text-align: left;
    padding: 25px;
    Border: dotted; 
}
body {
    background: linear-gradient(#54a1b9, #e671e8);
}

.header {
    padding: 20px;
}
.header nav {
    padding-top: 5px;
    margin-right:10px;
    float: right;
}
.header nav ul {
    list-style-type: none;
    
}
.header nav ul li {
    
    margin-left:10px;
    display: inline;
}

#about {
    color: whitesmoke;
    text-align: left;
    
    }
.about {
        text-align: center;
        padding:10px;
        
    }
.about img {
    border-radius: 30px;
    display: block;
    margin-left:180px;
     margin-top: 0 auto;
    }
.about p {
        text-align: left;
        padding:30px;
        margin:20px;
    }

#work {
    color:whitesmoke;
    text-align: center;
    display: block; 
}
.work {
    display: inline;
    padding: 30px;
    margin-left: 40px;
}

#contact {
    color:whitesmoke;
    text-align:left;
    display:flex;
}
.contact ul li {
    display: inline-block;
    padding: 25px;
    text-align: left;
}

.shecodes img, .canthaveit img, .project3 img {
    border-radius: 20px;
}

.quotes {
    float:left;
    padding: 40px;
    margin-left:15px;
    border: auto;
    width: 100px;
    height: 15px;
}

footer {
    list-style: none;
}
.footer ul li{
    color:rgb(81, 123, 151);
    
}